
.container {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}


/**************** Buttons ****************/

.btn {
  display: inline-block;
  background: $primary-color;
  color: $white-color;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0,0,0,0.45);
  border-radius: 2px;
  &:hover {
    opacity: 0.9;
  }
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 2rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}

.btn-lg {
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}


/**************** Text Styles ****************/

.text-xl {
  font-size: 2rem;
}

.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.text-md {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.text-center {
  text-align: center;
}

.text-dark {
  color: #999;
}

/**************** Table Styles ****************/

.table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
  thead {
    th {
      text-transform: uppercase;
      padding: 0.8rem;
    }
  }
  tbody {
    tr {
      td {
        color: $body-color;
        padding: 0.8rem 1.2rem;
        text-align: center;
        &:first-child {
          text-align: left;
        }
      }
      &:nth-child(odd) {
        background: $darkgray-color;
      }
    }

  }

}





















